.tab{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9rem;
    min-width: 1000px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    
}
.tab thead tr{
    background-color: #009879;
    color: aliceblue;
    text-align: left;
    font-weight: bold;
}
.tab th,
.tab td{
    padding: 12px 15px;
}
.tab tbody tr{
    border-bottom: 1px solid rgb(228, 168, 168);
}
.tab tbody tr:nth-of-type(even){
     background-color: rgb(214, 223, 191);
}
.tab tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
    
}
.tab tbody tr.active-row{
    font-weight: bold;
    color: #009879;
   
}
